<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='erro.css') }}">
</head>
<body>
    <div id="e">
        <h1>Imprecisão detectada</h1>
        <p class="erro">Por favor, verifique o formato do arquivo e(ou) a conexão com a Internet.</p>
        <p class="erro">Arquivos suportados: PDF e Word.</p>
        <form action="{{ url_for('index') }}" method="get">
            <button class="btn" type="submit">Voltar</button>
        </form>
    </div>
    
</body>
</html>
