<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"">
    <title>Chat-Docs</title>
</head>
<body>
    <div id="corpo">

        <div id="chat">
            <h1>ChatPGM - Documentos</h1>
            <form action="/chatpgm" method="POST" enctype="multipart/form-data">
                <label for="pdf_file">Coloque arquivo PDF ou Word aqui:</label>
                <input type="file" name="uploaded_file" accept=".pdf, .docx" >
                <br>
                
        
                <label for="pergunta">Faça sua pergunta:</label>
                <textarea name="pergunta" rows="4" cols="50" required></textarea>
                <br>
        
                <button type="submit">Enviar</button>
            </form>
        </div>

        <div id="precos">
            <div class="preco">
                <h3>Tokens</h3>
                <p class="tokens">{{ tokens_estimados }}</p>
            </div>
        
            <div class="preco">
                <h3>Preço</h3>
                <p class="tokens">R${{ custo_total }}</p>
            </div>

            <div class="preco">
                <h3>Preço Acumulado</h3>
                <p class="tokens">R${{ custo_acumulado }}</p>
            </div>
        </div>
    </div>

    <div id="resp">
        {% if resposta %}
        <h2>Resposta:</h2>
        <pre id="resposta">{{ resposta }}</pre>
        {% endif %}
    </div>

</body>
</html>
